/* app css stylesheet */

/*  Body  */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/*  Body  */

a {
  text-decoration: none;
  background: 0 0;
}

/*  Header  */

.header {
  margin: 5% 5%;
}

.headerLogo {
  width: 150px;
}

.logo {
  max-width: 100%;
}

.headerNavbar {
  border: 1px solid transparent;
  position: relative;
  border-radius: 4px;
  min-height: 50px;
}

.navbar-default {
  background-color: #B22222;
  border-color: #000000;
}

.brandNavbar {
  margin-right: 0;
  margin-left: 0;
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.brandNavbar:hover {
  background-color: #8B0000;
}

a.homeNavbar {
  color: #FFFFFF;
}

a.homeNavbar:hover {
  text-shadow: 0px 0px 1px #000000;
}

/*   Header   */

/*   Main View   */

#mainView {
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
}

.mainContainer {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #B22222;
  background-color: #dedede;
  overflow: hidden;
}

.containerListAutos {
  padding-top: 20px;
}

.containerAuto {
  float: left;
  width: 22%;
  margin: 1%;
  border: 1px solid #000000;
  border-radius: 4px;
  height: 330px;
  overflow: hidden;
  position: relative;
  background-color: #FFFFFF;
}

.checkboxContainer {
  z-index: 11;
  position: absolute;
  bottom: 2%;
  left: 3%;
}

.autoImgMain {
  width: 100%;
  min-height: 150px;
  border-bottom: 1px solid;
  float: left;
}

.autoInfoMain {
  padding-left: 5%;
  padding-right: 1%;
  margin-top: 160px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.checkIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #228B22;
}

.autoSelect {
  box-shadow: 0px 0px 20px #0000FF;
}

.spanBrand {
  font-weight: bold;
}

.btnInfo {
  float: right;
  margin-right: 5%;
  border-radius: 4px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  cursor: pointer;
}

.checkCompare {
  position: absolute;
  top: 45%;
  left: 1%;
}

.warningSelect {
  position: fixed;
  top: 20%;
  left: 40%;
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 4px;
}

.inputSearch {
  position: absolute;
  right: 4%;
  border-radius: 10px;
  border: 1px solid;
  padding: 2px;
}

.inputSearch:focus {
  z-index: 10;
}

.inputSearch:focus {
  outline-color: #dedede;
}

.containerSearch {
  position: relative;
}

.searchIcon {
  position: absolute;
  right: 5%;
  top: 5px;
  z-index: 5;
}

.animate-show, .animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show {
  opacity:0;
}

.animate-show.animate-show-active {
  opacity:1;
}

.animate-hide {
  opacity:1;
}

.animate-hide.animate-hide-active {
  opacity:0;
}

.imgMaxWidth {
  max-width: 100%;
  max-height: 150px;
}

/*   Main View   */

/*  Detail  */

.imgDetailMaxWidth {
  max-width: 100%;
  max-height: 200px;
}

.mainContainerDefault {
  border-color: #000000;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 10px #B22222;
}

.autoContainer {
  min-height: 100px;
  border: 1px solid;
  margin: 2% 5%;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.autoImg {
  width: 30%;
  float: left;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
}

.autoInfo {
  float: left;
  width: 60%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.autoBrand {
  border-bottom: 1px solid #708090;
}

.autoPrice {
  float: right;
  margin-right: 10%;
  color: #416DB5;
}

.autoDetailContainer {
  margin: 0;
}

/*  Detail  */

/*  Widget Compare  */

.widgetCompare {
  position: fixed;
  top: 5%;
  right: 0;
  background-color: #228B22;
  border-radius: 4px;
  padding: 5px;
  color: #FFFFFF;
  z-index: 20;
  box-shadow: 0px 0px 5px #006400;
  cursor: pointer;
}

.widgetCompare:hover {
  background-color: #006400;
  box-shadow: 0px 0px 7px #003c00;
}

.compareAnchor {
  color: #FFFFFF;
}

/*  Widget Compare  */

.hidden {
  display: none;
}