<div class="autoContainer autoDetailContainer">
  <div class="overlay hidden"></div>
  <div class="checkIcon hidden">
    <i class="fa fa-check-circle fa-4x"></i>
  </div>
  <div class="checkCompare">
    <input class="selectAuto" type="checkbox" ng-model="checkBox" ng-click="checkCar($event)">
  </div>
  <div class="autoImg">
    <a href="/app/#/auto/{{auto.id}}"><img class="imgMaxWidth" ng-src="{{auto.imgSrc}}" alt="Car"></a>
  </div>
  <div class="autoInfo">
    <div class="autoBrand">
      <p><span class="spanBrand">{{auto.brand}}</span><span class="autoPrice">{{auto.price}}</span></p>
    </div>
    <p><span>Model: </span>{{auto.model}}</p>
    <p><span>Year: </span>{{auto.year}}</p>
    <p><span>Color: </span>{{auto.color}}</p>
  </div>
</div>