<div class="mainContainer mainContainerDefault">
  <div class="autoContainer" ng-repeat="auto in autos">
    <div class="autoImg">
      <img class="imgMaxWidth" ng-src="{{auto.imgSrc}}" alt="Car">
    </div>
    <div class="autoInfo">
      <div class="autoBrand">
        <p><span class="spanBrand">{{auto.brand}}</span><span class="autoPrice">{{auto.price}}</span></p>
      </div>
      <p><span>Model: </span>{{auto.model}}</p>
      <p><span>Year: </span>{{auto.year}}</p>
      <p><span>Color: </span>{{auto.color}}</p>
    </div>
  </div>
</div>